:root {
    --c_darkPurple: #5D3C75;
    --c_darkPurple_lighter: #984169;
    --c_redOrange: #B34860;
    --c_redOrange_lighter: #D06966;
    --c_orangeYellow: #EE9359;
    --c_orangeYellow_light: #F4AE61;
    --f_mainFontStyle: 'Itim', cursive;
    --f_fontSizeNormal: 24px;
    --f_fontSizeHeader: 36px;
    --i_iconNormal: 36px;
    --br_radiusSection: 300px;
    --w_defaultMaxWidth: 50%;
}