:root {
    --c_darkPurple: #5D3C75;
    --c_darkPurple_lighter: #984169;
    --c_redOrange: #B34860;
    --c_redOrange_lighter: #D06966;
    --c_orangeYellow: #EE9359;
    --c_orangeYellow_light: #F4AE61;
    --f_mainFontStyle: 'Itim', cursive;
    --f_fontSizeNormal: 24px;
	--f_fontSizeSmall: 16px;
    --f_fontSizeHeader: 36px;
    --i_iconNormal: 24px;
	--i_iconBig: 36px;
    --br_radiusSection: 500px;
    --w_defaultMaxWidth: 50%;
    --iframe_width: 400px;
    --iframe_height: 285px;
    --background: rgb(168, 168, 161)
}