.hello, .about-me-text {
     font-family: var(--f_mainFontStyle);
     color: black;
     font-size: var(--f_fontSizeSmall)
}

.about-me-container {
     opacity: 0;
     transform: translateX(-50px);
     max-width: var(--w_defaultMaxWidth);
     height: 80vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
     transition: all 500ms ease-in;
}

.img-two {
    opacity: 0;
    transform: translateX(50px);
    box-shadow: 0px 0px 20px 0px black;
    -webkit-box-shadow: 0px 0px 20px 0px black;
    -moz-box-shadow: 0px 0px 20px 0px black;
    transition: all 500ms ease-in;
}

.about-me-text {
     text-align: justify;
     text-justify: inter-word;
     line-height: 40px;
}

.contact-btn-2 {
     color: var(--c_darkPurple);
     border: 2px var(--c_darkPurple) solid;
}

.fill-2:hover {
     color: var(--c_orangeYellow_light);
     background-color: var(--c_darkPurple);
}