.contact-container {
     opacity: 0;
     transform: translateY(-50px);
     font-family: var(--f_mainFontStyle);
     color: black;
     max-width: var(--w_defaultMaxWidth);
     height: 30vh;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     padding: 30px;
     align-items: center;
     border-radius: 20px;
     transition: all 1s ease-in-out;
}


.contact-main {
     font-size: var(--f_fontSizeNormal);
}

.contact-filler {
     font-size: var(--f_fontSizeNormal);
}

.contact-info {
     font-size: var(--f_fontSizeNormal);
}