.videos-container {
     display: flex;
     justify-content: space-between;
}

.videos-inner {
    display: flex;
    flex-direction: column;
}

.videos-container > *, .videos-inner > * {
    margin: 20px;
}

.video1 {
    transform: translateX(-200px);
}

.video2 {
    transform: translateX(-150px);
}

.video3 {
    transform: translateX(150px);
}

.video4 {
    transform: translateX(200px);
}

.video1, .video2, .video3, .video4 {
    opacity: 0;
    transition: all 1s ease-in;
}

iframe {
    width: var(--iframe_width);
    height: var(--iframe_height);
}