.about-text {
    font-family: var(--f_mainFontStyle);
    color: var(--c_orangeYellow_light);
    font-size: var(--f_fontSizeNormal);
    animation-name: move-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.take-me-there {
    color: var(--c_orangeYellow);
    border: 2px var(--c_orangeYellow) solid;
}

.fill:hover {
    color: var(--c_darkPurple);
    background-color: var(--c_orangeYellow_light);
}

.about-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: var(--w_defaultMaxWidth);
}

.icon-container {
    display: flex;
    justify-content: space-around;
}

.check-out-container {
    display: flex;
    width: var(--w_defaultMaxWidth);
    flex-direction: column;
    background-color: var(--c_darkPurple);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px var(--c_orangeYellow_light);
    -webkit-box-shadow: 0px 0px 5px 0px var(--c_orangeYellow_light);
    -moz-box-shadow: 0px 0px 5px 0px var(--c_orangeYellow_light);
    transition: all ease-in-out .2s;
    animation-name: fade;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.check-out-content-text {
    text-align: center;
    font-size: var(--f_fontSizeNormal);
    font-family: var(--f_mainFontStyle);
    color: var(--c_orangeYellow_light);
}

.and {
    color: var(--c_orangeYellow_light);
    font-size: var(--f_fontSizeNormal);
    animation-name: fade;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.img-one {
    box-shadow: 0px 0px 20px 0px var(--c_orangeYellow_light);
    -webkit-box-shadow: 0px 0px 20px 0px var(--c_orangeYellow_light);
    -moz-box-shadow: 0px 0px 20px 0px var(--c_orangeYellow_light);
}

@keyframes move-in {
    0% {
        transform: scale(1.2);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}