.section-3 {
    flex-direction: column;
    justify-items: center;
}

.contact-container {
    font-family: var(--f_mainFontStyle);
    color: var(--c_orangeYellow_light);
    background-color: var(--c_darkPurple_lighter);
    max-width: var(--w_defaultMaxWidth);
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px var(--c_redOrange_lighter);
    -webkit-box-shadow: 0px 0px 20px 0px var(--c_redOrange_lighter);
    -moz-box-shadow: 0px 0px 20px 0px var(--c_redOrange_lighter);
    transition: all .4s ease-in-out;
}

.contact-container:hover {
    transform: scale(1.05)
}

.contact-main {
    font-size: var(--f_fontSizeNormal);
}

.contact-filler {
    font-size: var(--f_fontSizeNormal);
}

.contact-info {
    font-size: var(--f_fontSizeNormal);
}