.about-text {
    font-family: var(--f_mainFontStyle);
    color: var(--c_orangeYellow_light);
    font-size: 24px;
    animation-name: move-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.take-me-there {
    color: var(--c_orangeYellow);
    border: 2px var(--c_orangeYellow) solid;
}

.fill:hover {
    color: var(--c_darkPurple);
    background-color: var(--c_orangeYellow_light);
}


/* .fill:before {
    content: "";
    position: absolute;
    background: var(--c_orangeYellow);
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
} */

.about-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */
    max-width: 50%;
}

@keyframes move-in {
    0% {
        transform: scale(1.2);
    }
}

.icon-container {
    display: flex;
    justify-content: space-around;
}

.check-out-container {
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: var(--c_darkPurple);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px var(--c_orangeYellow_light);
    -webkit-box-shadow: 0px 0px 5px 0px var(--c_orangeYellow_light);
    -moz-box-shadow: 0px 0px 5px 0px var(--c_orangeYellow_light);
    transition: all ease-in-out .2s;
}


/* .check-out-container:hover {
     box-shadow: 0px 0px 25px 0px rgba(229, 152, 155, 0.52);
     -webkit-box-shadow: 0px 0px 25px 0px rgba(229, 152, 155, 0.52);
     -moz-box-shadow: 0px 0px 25px 0px rgba(229, 152, 155, 0.52);
} */

.check-out-content-text {
    text-align: center;
    font-size: 24px;
    font-family: var(--f_mainFontStyle);
    color: var(--c_orangeYellow_light);
}

.and {
    color: var(--c_orangeYellow_light);
    font-size: 48px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.img-one {
    box-shadow: 0px 0px 20px 0px var(--c_orangeYellow_light);
    -webkit-box-shadow: 0px 0px 20px 0px var(--c_orangeYellow_light);
    -moz-box-shadow: 0px 0px 20px 0px var(--c_orangeYellow_light);
}