@media all and (max-width: 1283px) {
     :root {
          --f_fontSizeNormal: 20px;
		  --f_fontSizeSmall: 12px;
          --f_fontSizeHeader: 26px;
          --w_defaultMaxWidth: 100%;
          --i_iconNormal: 24px;
		  --i_iconBig: 24px;
     }

     .section-1 {
          flex-direction: column-reverse;
          align-items: flex-end;
          justify-content: space-around !important;
		  background-image: url('/assets/landing-2-small.png') !important;
     }

     .subscribe-container {
          margin-left: 0;
     }

     .song-advert-container {
          margin-left: 50px;
     }

     section {
          -webkit-box-shadow: none !important; 
          box-shadow: none !important;
          margin: 0 !important;
          border-radius: 0 !important;
          /* padding: 100px !important; */
     }

     .section-2, .section-3 {
          align-items: center;
          flex-direction: column;
     }

     .section-3 {
          flex-direction: column-reverse;
     }

     .non-icon {
          max-width: 300px;
          max-height: 400px;
          margin: 20px;
      }
      
     .about-me-text {
          line-height: 20px;
          width: 500px;
     }

	 .music-platforms li {
		 margin: 5px;
	 }

	 .song-description {
		 margin: 5px;
	 }
}

@media all and (max-width: 1201px) {
     .header-spacer {
          display: none;
     }
}

@media all and (max-width: 1025px) {
     :root {
          --f_fontSizeNormal: 16px;
          --f_fontSizeHeader: 24px;
          --w_defaultMaxWidth: 90%;
          --i_iconNormal: 24px;
     }

     .subscribe-container {
		margin-top: 600px;
     }

     .song-advert-container {
          margin-left: -80px; 
          width: 200px;
     }
}

@media all and (max-width: 769px) {
     :root {
          --iframe_width: 200px;
          --iframe_height: 100px;
     }
     .back-to-top-btn {
          left: 90%;
     }
     .videos-container {
          flex-direction: column;
     }
     .videos-container>* {
          margin: 2px;
     }
     .section-1 {
          background-image: url('/assets/landing-2-small-small.png') !important;
     }
     
     .song-advert-container {
          width: 100px;
     }

     .about-me-text {
          line-height: 20px;
          width: 300px;
     }

     iframe {
          margin: 20px;
          width: 300px ;
          height: 515px;
     }

     .header-buttons {
          display: none;
     }

     .hamburger {
          display: block;
     }
}

@media all and (max-width: 480px) {
     :root {
          --f_fontSizeNormal: 12px;
          --f_fontSizeHeader: 16px;
          --i_iconNormal: 16px;
     }
     .contact-container {
          height: 40vh;
     }
}