@media all and (max-width: 1201px) {
    .non-icon {
        display: none;
    }
    .header-spacer {
        display: none;
    }
}

@media all and (max-width: 1025px) {
    :root {
        --f_fontSizeNormal: 16px;
        --f_fontSizeHeader: 24px;
        --w_defaultMaxWidth: 70%;
        --i_iconNormal: 24px;
    }
}

@media all and (max-width: 769px) {
    :root {
        --iframe_width: 200px;
        --iframe_height: 100px;
    }
    .about-me-text {
        text-indent: 30px;
        line-height: 25px;
    }
    .back-to-top-btn {
        left: 90%;
    }
    .videos-container {
        flex-direction: column;
    }
    .videos-container>* {
        margin: 2px;
    }
}

@media all and (max-width: 480px) {
    :root {
        --i_iconNormal: 16px;
    }
    .contact-container {
        height: 40vh;
    }
}