/* width */
::-webkit-scrollbar {
     width: 10px;
}
   
/* Track */
::-webkit-scrollbar-track {
     background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
     background: #CECEC6;
     border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
     background: #555;
}