 section {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100vh;
      background-color: var(--c_darkPurple);
 }

 .section-1 {

 }

 .section-2 {
 }

 .section-3 {
      z-index: 100;
      position: relative;
 }

 .section-4 {
 }