 section {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100vh;
      background-color: var(--background);
      -webkit-box-shadow: 0px 0px 15px 0px #000000; 
      box-shadow: 0px 0px 15px 0px #000000;
      margin: 15px;
      border-radius: 8px;
 }

 .section-1 {
      background-image: url('/assets/landing-1.png');
      background-size: cover;
      height: 100vh;
      display: flex;
      justify-content: space-between;
 }

 .section-2 {}

 .section-3 {
 }

 .section-4 {
      flex-direction: column;
      justify-content: space-evenly;
 }